a:hover {text-decoration: underline;}

  .title {color: #DDF0D7; background-color: #009900; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold;  }
  .title2 {color: 006486; background-color: #FFFF33; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold; }
.box_header {color:  #009900; background-color: #F1EEF9; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
.link3 {color: #FFFFFF; text-decoration: none; font-family: verdana; font-size: 13px; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold}
.announcement { color: #DE9B3B; font-family: verdana }
.link {color: #DE9B3B; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold}
.linkultralarge {color: #DE9B3B; text-decoration: none; font-family: verdana; font-size: 15px; font-weight: bold}
.warn {color: #DE9B3B; background-color: #F1F9EE; text-decoration: none; font-family: verdana; font-size: 10px; font-weight: bold }

  .title_secondary {color: 1F5325; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold; }

  .formtext {color: #006486; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; background-color: #dbdbdb }
  .formtext2 {color: #006486; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; background-color: white }
  
  .box_header_tab {color: #499332; background-color: white}
  .box_header1 {color: #38295F; background-color: #E4E2E2; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 13px; font-weight: bold}
  .box {background-color: white; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px}
  .box2 {color: #BCB9DD; background-color: #111C88; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold}
    
  .link2 {color: #5363C0; text-decoration: none; font-family: verdana; font-size: 13px; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; text-decoration: none; font-weight: bold}
  
  
  .sampletext {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px}
  .plaintext {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small}
  .plaintextbold {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: bold;}
  .plaintextlargebold {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold;}
  
  .plaintextlarge {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px;}
  
  
  .plaintextultralarge {color: #1F2553; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 20px; background-color: white; font-style: italic;}
  .expiretext {color: #B8B8B9; background-color: white; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px}
  .termtext {color: black; text-decoration: none; font-family: sans-serif; font-size: small}
  .bigtext {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: small}
  .leftbox {color: black; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; background-color: #6191e2; font-size: small}
  .fineline {text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; background-color: #D0D0D0}
  
  .fauxlink { FONT-SIZE: small; CURSOR: hand; COLOR: link; FONT-FAMILY: Verdana, Tahoma, Arial; TEXT-DECORATION: underline }


.box3 {background-color: #F4F4F4; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px}
.box4 {background-color: #FFFFFF; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px}
  
.rowW { background-color: #FFF; color: #000; }

.rowY {background-color: #FFC; text-decoration: none; font-family: verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: 12px}
